* {
    margin: 0;
    padding: 0;
}

.clock {
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 2.438rem;
}

.clock-moment {
    border: 2px solid;
    border-image: linear-gradient(90deg, #e5a663, #801155) 1;
    padding: 0.5rem;
    border-radius: 5px;
    margin-left: 1.25rem;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
}

.timer button {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    width: 12.063rem;
    height: 3.188rem;
    border: 4px solid #e5a663;
    border-radius: 0.625rem;
    background-color: transparent;
    color: #fff;
}

.timer button:hover {
  cursor: pointer;
  color: #e5a663;
  transition: 0.3s all ease-out;
}

.timer h4 {
    font-size: 1.563rem;
    line-height: 1.875rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width:610px) {
    .timer {
        align-items: flex-start;
    }

    .clock-moment {
        margin-left: 0;
        margin-right: 0.313rem;
    }
}

@media screen and (max-width:460px){
    .timer h4 {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .timer button {
        font-size: 1rem;
        height: 2.5rem;
        width: 9.375rem;
    }

    .clock {
        margin-bottom: 1.25rem;
    }

    .hero-bid {
        padding: 0;
    }
}