.explore-container {
    width: 100vw;
    background: #301E2F;
    display: flex;
}

.explore-wrapper {
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 7.5rem;
}

.explore-statement {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.625rem;
}

.explore-statement h2 {
    font-size: 3.125rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    line-height: 4.188rem;
    max-width: 30.5rem;
    color: #fff;
}

.explore-statement p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.563rem;
  font-weight: 600;
  line-height: 2.625rem;
  max-width: 30.938rem;
  color: #fff;
}

.rectangle {
    width: 22rem;
    height: 15.75rem;
    margin-bottom: 0.938rem;
}

.explore-image {
    border: 5px solid;
    border-image: linear-gradient(90deg, #E5A663 0%, #801155 100%) 1;
    padding: 1.25rem;
    color: #fff;
}

.explore-image-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(405px, 1fr));
    justify-items: center;
    gap: 0.625rem;
    /*display: flex;
    justify-content: space-between;*/
    margin-bottom: 3.125rem;
}

.explore-image h3 {
  font-size: 1.563rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 1.891rem
}

.explore-rarity {
    display: flex;
    align-items: center;
}

.explore-rarity button {
    font-family: 'Inter', sans-serif;
    font-size: 0.938rem;
    font-weight: 600;
    line-height: 1.134rem;
    padding: 0.625rem;
    width: 5.438rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
    border-radius: 5px;
    color: #fff;
}

.explore-rarity img {
    width: 2.625rem;
    height: 1.875rem;
    border: 2px solid;
    border-image: linear-gradient(90deg, #e5a663, #801155) 1;
    margin-left: 0.75rem;
}

.explore-image-bottom {
  display: flex;
  margin-top: 1.25rem;
  justify-content: space-between;
}

.explore-price {
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-between;
}

.ethereum {
    display: flex;
    align-items: center;
}

.ethereum h3 {
    font-weight: 500;
    margin-left: 0.375rem;
}

.explore-price .fa-cart-shopping {
    margin: 0;
}

.explore-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-view button {
    width: 15vw;
    height: 10vh;
    background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
    border-radius: 20px 0px;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: 'Inter', sans-serif;
    padding: 0.625rem;
    color: #fff;
}

.explore-view button:hover {
    cursor: pointer;
}

/* media queries*/

@media screen and (max-width:1150px) {
    .explore-statement h2 {
        font-size: 2.5rem;
        line-height: 3.125rem;
        height: 6.25rem;
    }

    .explore-statement {
        margin-bottom: 1.875rem;
    }

}


@media screen and (max-width:1000px) {
    .explore-statement {
        flex-direction: column;
        justify-content: flex-start
    }

    .explore-view button {
        font-size: 1.313rem;
    }
}

@media screen and (max-width:460px){
    .explore-statement h2 {
        font-size: 1.875rem;
        max-width: 22.5rem;
    }

    .explore-statement p {
        font-size: 1.125rem;
        line-height: 1.875rem;
        margin-top: 0.625rem;
        max-width: 22.5rem;
    }

    .explore-wrapper {
        margin-top: 1.25rem;
    }

    .rectangle {
        width: 13.5rem;
        height: 11.5rem;
        margin-bottom: 0.625rem;
    }

    .explore-image h3 {
        font-size: 1rem;
    }

    .explore-rarity button {
        font-size: 0.813rem;
        width: 3.438rem;
        height: 1.5rem;
    }

    .explore-rarity img {
        width: 2rem;
        height: 1.5rem;
    }

    .explore-price {
        align-items: center;
        margin-top: 1.5rem;
    }

    .ethereum img {
        height: 1.5rem;
    }

    .explore-view button {
        font-size: 1rem;
        width: 7.5rem;
        height: 4rem;
    }

    .explore-image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
