.footer-container {
    width: 100%;
    display: flex;
    background: #1D1D1D;
}

.footer-wrapper {
    width: 1500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
}

.text-logo {
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    background-clip: text;
    fill: transparent;
    font-family: 'Inter', sans-serif;
}

.footer-text p {
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    max-width: 327px;
    color: #fff;
    margin-top: 10px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.social-icon {
    font-size: 24px;
    display: flex;
    gap: 40px;
}

.social-icon i {
    color: #fff;
}

.footer-location {
    display: flex;
    gap: 5px;
    align-items: center;
}

.footer-mail {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 25px;
}


.footer-contact i {
    font-size: 22px;
    color: #770075;
}

.footer-contact i:hover {
    cursor: pointer;
}

.footer-contact p {
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

#copyright {
    text-align: center;
    font-size: 19px;
    color: #fff;
    margin-right: 90px;
    margin-top: 20px;
}

/*media queries*/

@media screen and (max-width:650px) {
    .footer-section {
        display: block;
    }

    .footer-text {
        margin-bottom: 10px;
    }

    .social-icon {
        margin-bottom: 10px;
    }

    .footer-mail {
        margin-top: 10px;
    }
}

@media screen and (max-width:460px){
    .text-logo {
        font-size: 30px;
    }

    .footer-text p {
        font-size: 16px;
        max-width: none;
        line-height: 23px;
    }

    .social-icon {
        font-size: 16px;
        gap: 20px;
    }

    .footer-contact p {
        font-size: 16px;
    }

    .footer-contact i {
        font-size: 16px;
    }

    #copyright {
        font-size: 13px;
        margin: 0;
        padding-top: 20px;
    }
}