.hero-container {
    width: 100vw;
    background-image: linear-gradient(180deg, #1D1D1D, #4E204D);
    display: flex;
    min-height: 100vh;
}

.hero-home {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85vw;
    position: relative;
}

.hero-home img {
    position: absolute;
    max-width: 52%;
    max-height: 62%;
    left: 61%;
}

.hero-statement h2 {
    font-size: 4.688rem;
    font-family: 'Poppins', sans-serif;
    max-width: 43.563rem;
    line-height: 6.875rem;
    font-weight: 700;
    margin-top: 5.373rem;
    color: #fff;
}

.hero-statement p {
    font-size: 1.563rem;
    font-weight: 600;
    line-height: 1.875rem;
    max-width: 42.313rem;
    margin-top: 1.25rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.hero-statement span {
    color: #801155;
}

.hero-explore {
    display: flex;
    align-items: center;
}

.hero-explore button {
    padding: 0.525rem;
    width: 30vh;
    height: 11vh;
    border-radius: 20px 0;
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 2.25rem;
    background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
    margin-right: 3.125rem;
    color: #fff;
    font-family: 'Inter', sans-serif;
}


.hero-explore button:hover {
   cursor: pointer;
}

.hero-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-video h3 {
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 2.75rem;
    color: #fff;
    font-family: 'Fugaz One', sans-serif;
}

.fa-circle-play {
    font-size: 2.188rem;
    background: -webkit-linear-gradient(90deg, #E5A663 0%, #801155 100%);
    background: -moz-linear-gradient(90deg, #E5A663 0%, #801155 100%);
    background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-circle-play, .hero-bid-place button:hover {
    cursor: pointer;
}

.hero-art {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 44px;
}

.hero-art h3 {
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 3.25rem;
  color:#fff;
  font-family: 'Fugaz One', sans-serif;
}

.hero-art p {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.813rem;
    color: #EF8080;
    font-family: 'Poppins', sans-serif;
}

.hero-art-stats {
    margin-right: 2.438rem;
}

.hero-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3.063rem;
}

.hero-bid {
  display: flex;
  border: 6px solid;
  border-image: linear-gradient(90deg, #E5A663 0%, #801155 100%) 1;
  padding: 2.43rem 1.053rem;
  gap: 1.875rem;
  color: #fff;
}

.hero-bid-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.hero-bid-place h4{
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 1.875rem;
    /*margin-bottom: 32px;*/
}

.hero-bid-place h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.hero-bid-place button {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  width: 12.063rem;
  height: 3.188rem;
  background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
  border-radius: 10px;
  color: #fff;
}

.hero-bid-place button:hover {
    cursor: pointer;
    color: #e5a663;
}

/*media queries*/

@media screen and (max-width:1360px){
    .hero-home img {
        top:5%
    }
}

@media screen and (max-width:1180px) {
    .hero-bottom {
        display: flex;
        flex-direction: column;
    }

    .hero-bid {
        margin-top: 1.25rem;
        max-width: 37.5rem;
        margin-bottom: 1.25rem;
    }


    @media screen and (max-width:1000px){
        .hero-home img {
            display: none;
        }
    }

}

@media screen and (max-width:610px) {
    .hero-bid {
        flex-direction: column;
    }

    .hero-bid-place {
        align-items: flex-start;
    }

    .hero-bid-place button{
        margin-top: 10px;
    }

    .hero-bid-place h4 {
        margin-bottom: 0.625rem;
    }
}

@media screen and (max-width:460px) {

    .hero-bid {
        border: none;
    }

    .hero-statement h2 {
        font-size: 3.125rem;
        line-height: 3.75rem;
    }

    .hero-statement p {
        font-size: 1.25rem;
    }

    .hero-explore button {
        font-size: 1.25rem;
        width: 50%;
    }

    .fa-circle-play {
        font-size: 1.25rem;
    }
    
    .hero-video h3 {
        font-size: 1.25rem;
    }

    .hero-art h3 {
        font-size: 1.25rem;
    }

    .hero-art p {
        font-size: 1.25rem;
    }

    .hero-bid-place button {
        font-size: 1rem;
        height: 2.5rem;
        width: 9.375rem;
    }

    .hero-bid-place h4{
        font-size: 1.25rem;
    }

    .hero-bid-place h3 {
        font-size: 1.125rem;
    }

    .hero-art-stats {
        margin-right: 1.5rem;
    }
}