.market-container {
    width: 100vw;
    background: #301E2F;
    display: flex;
}

.market-wrapper {
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 120px;
}

.market-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market-introduction h3 {
    font-size: 3.125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 4.2rem;
    margin-bottom: 2.5rem;
    color: #fff;
    text-align: center;
    
}

.market-introduction p {
    font-size: 1.563rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 2.6rem;
    margin-bottom: 6.25rem;
    color: #fff;
}

.market-introduction span {
    color: #801155;
}

#nft-text {
    color: #E5A663;
}

.market-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3.875rem;
}

#button-item {
    background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
}
.market-items button {
    width: 17vw;
    height: 10vh;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 2.25rem;
    font-family: 'Inter',sans-serif;
    padding: 0.625rem;
    border-radius: 10px;
    color: #fff;
    background: transparent;
}

.market-items button:hover {
    cursor: pointer;
    color: #E5A663;
}

/*media queries*/

@media screen and (max-width:850px) {
    .market-items button{
        font-size: 1.313rem;
        width: 9.375rem;
    }
}

@media screen and (max-width:460px) {
    .market-introduction h3 {
        font-size: 1.875rem;
        line-height: 3.125rem;
        margin-bottom: 2rem;
    }

    .market-introduction p {
        font-size: 1.125rem;
        line-height: 1.625rem;
        font-weight: 600;
        margin-bottom: 3.125rem;
        max-width: 23.125rem;
        align-self: flex-start;
    }

    .market-items {
        display: grid;
        grid-template-columns:  repeat(auto-fill, minmax(130px, 1fr));
        gap: 10px;
        margin-left: 5px;
    }

    .market-items button {
        font-size: 1.125rem;
    }

    .market-wrapper {
        padding-top: 50px;
    }
}

