.navbar {
    background: #1D1D1D;
    width: 100vw;
}

.nav-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 85vw;
    padding-top: 3.063rem;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #fff;
    margin-left: 3.5rem;
    font-size: 1.563rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.nav-links:hover {
    color: #E5A663;
    transition: 0.3s all ease-out;
}

.nav-link-home {
    text-decoration: none;
    color: #E5A663;
    margin-left: 3.5rem;
    position: relative;
    font-size: 1.563rem;
    font-weight: 700;
}

.nav-link-mobile {
    display: none;
}

.dot {
    width: 0.563rem;
    height: 0.563rem;
    background-color: #E5A663;
    border-radius: 50px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.navbar-logo {
    text-decoration: none;
    font-size: 2.813rem;
    font-weight: 700;
    line-height: 3.375rem;
    background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    background-clip: text;
    fill: transparent;
    font-family: 'Inter', sans-serif;
}

.nav-item {
    font-size: 1.563rem;
}

.fa-cart-shopping {
    width: 3.063rem;
    height: 3.063rem;
    border-radius: 50px;
    background: #801155;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 2.625rem;
}

.fa-cart-shopping:hover {
    cursor: pointer;
}

.check-out {
    display: flex;
    align-items: center;
}

.check-out button {
    height: 5.063rem;
    width: 12.75rem;
    background: linear-gradient(90deg, #E5A663 0%, #801155 100%);
    border-radius: 20px 0px;
    padding: 0.625rem;
    font-size: 1.563rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.875rem;
    font-family: 'Inter', sans-serif;
}

.check-out button:hover {
    cursor: pointer;
}

.fa-xmark, .fa-bars {
    font-size: 1.625rem;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1360px) {
   .navbar-logo {
    font-size: 2.188rem;
   }

   .nav-links, .nav-link-home {
    font-size: 1.25rem;
   }

   .fa-cart-shopping {
    height:1.875rem;
    width: 1.875rem;
    font-size: 0.625rem;
    margin-right: 1.875rem;
   }

   .check-out button {
    height: 3.125rem;
    width: 9.375rem;
    font-size: 20px;
   }
}

@media screen and (max-width: 1000px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 100px;
        left: -100px;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      margin: 0 auto;
    }

    .check-out button {
        display: none;
    }

    .menu-icon {
        display: block;
        text-align: center;
    }

    .dot {
        display: none;
    }

    .nav-link-mobile {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:460px) {
    .nav-links {
        font-size: 1.125rem;
    }
}